@charset "UTF-8";
@import url(font.scss);

ul,
ol,
li {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}

// 배너
.banner {
  height: 120px;
  .bg-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center top;
  }
  &.top-banner {
    background-color: #00eadc;
    .bg-img {
      background-image: url("../images/topBanner.svg");
    }
  }
  &.bottom-banner {
    background-color: #565656;
    .bg-img {
      background-image: url("../images/bottomBanner.svg");
    }
  }
}

// 홈 메인
.main-2 {
  background: #fbfbfb;
  .btns {
    button {
      border: none;
      padding: 6px 18px;
      background-color: #454545;
      font-weight: 600;
      &.active {
        background-color: #00eadc;
      }
    }
  }
}
.main-3 {
  .row {
    align-items: center;
    p {
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 24px;
    }
    .bg-img {
      height: 400px;
      background-repeat: no-repeat;
      &.img1 {
        background-image: url("../images/main_3_1.png");
      }
      &.img2 {
        background-image: url("../images/main_3_2.png");
      }
      &.img3 {
        background-image: url("../images/main_3_3.png");
      }
      &.img4 {
        background-image: url("../images/main_3_4.png");
      }
    }
  }
}
.main-4 {
  background-color: #00eadc;
  .btns {
    button {
      border: none;
      padding: 6px 18px;
      background-color: #454545;
      font-weight: 600;
      &.active {
        background-color: #fff;
        color: #454545;
      }
    }
  }
  .contents {
    width: 70%;
    margin: 0 auto;
    article {
      display: none;
      .row {
        height: 500px;
      }
    }
  }
}
.main-5 {
  background: url("../images/main_5.png") no-repeat center/cover;
  li {
    background-color: #fff;
    width: 70%;
    margin: 1rem auto 0 !important;
    padding: 1.5rem 2.5rem !important;
    border-radius: 2rem;
    .q {
      font-weight: 600;
      font-size: 20px;
      border-bottom: 1px solid #a6a6a6;
      padding-bottom: 5px;
      span {
        color: #00eadc;
      }
    }
    .a {
      padding: 10px 0 15px;
      span {
        font-weight: 600;
      }
    }
    button {
      background-color: #00eadc;
      border: none;
      font-weight: 600;
      padding: 6px 18px;
    }
  }
}

// 푸터
.footer {
  background-color: #f7fcfc;
}

.left-nav {
  .nav-item {
    a {
      font-size: 20px;
      color: #888;
    }
    &.active {
      a {
        color: #ff656a;
      }
    }
  }
}

.b-table-sticky-header {
  max-height: 100% !important;
  margin: 0 !important;
}

.currentTable {
  th {
    background-color: #e2eae8 !important;
    width: 10%;
    padding: 4px 8px !important;
    vertical-align: middle;
  }
  td {
    background-color: #fff !important;
  }
  input {
    padding: initial;
  }
}

.form-control:disabled {
  background-color: transparent !important;
  border-color: transparent !important;
}

.b-calendar-grid-help {
  display: none;
}

.dataTable {
  th {
    white-space: nowrap;
  }
  td {
    white-space: nowrap;
  }
}

.tabs {
  .nav-item {
    font-size: 20px;
    font-weight: 900;
    margin-right: 5px !important;
    .nav-link {
      border-color: #dee2e6;
      background-color: #fff;
      color: #ccc;
      &.active {
        color: #000;
      }
    }
  }
  .tab-content {
    background-color: #fff;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
  }
}
