@charset "UTF-8";
@import url(font.scss);

ul,
ol,
li {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}

// 배너
.banner {
  height: 120px;
  .bg-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center top;
  }
  &.top-banner {
    background-color: #00eadc;
    .bg-img {
      background-image: url("../images/topBanner.svg");
    }
  }
  &.bottom-banner {
    background-color: #565656;
    .bg-img {
      background-image: url("../images/bottomBanner.svg");
    }
  }
}

.main-4 {
  background-color: #00eadc;
  .btns {
    button {
      border: none;
      padding: 6px 18px;
      background-color: #454545;
      font-weight: 600;
      &.active {
        background-color: #fff;
        color: #454545;
      }
    }
  }
  .contents {
    width: 70%;
    margin: 0 auto;
    article {
      display: none;
      .row {
        height: 500px;
      }
    }
  }
}
.main-5 {
  background: url("../images/main_5.png") no-repeat center;
  li {
    background-color: #fff;
    width: 70%;
    margin: 1rem auto 0 !important;
    padding: 1.5rem 2.5rem !important;
    border-radius: 2rem;
    .q {
      font-weight: 600;
      font-size: 20px;
      border-bottom: 1px solid #a6a6a6;
      padding-bottom: 5px;
      span {
        color: #00eadc;
      }
    }
    .a {
      padding: 10px 0 15px;
      span {
        font-weight: 600;
      }
    }
    button {
      background-color: #00eadc;
      border: none;
      font-weight: 600;
      padding: 6px 18px;
    }
  }
}

.footer {
  background-color: #f7fcfc;
}
